* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  background-color: #181820;
}

.header {
  background-color: rgb(29, 29, 39);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #ffffff;
}
.dashBox {
  display: flex;
  align-items: center;
  position: relative;
}
.dashBox img {
  width: 19px;
  height: 19px;
  color: #ffffff;
}
.dashBox p {
  padding: 0 0.6rem;
  font-size: 1.1rem;
}
.profileBtn {
  border-radius: 50%;
  padding: 0.4rem 0.3rem;
  border: none;
  background-color: #512da8;
  color: white;
  cursor: pointer;
}
.dashBox::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2px solid white;
  bottom: -1.1rem;
}
