.header {
  background-color: rgb(29, 29, 39);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #ffffff;
}
.dashBox {
  display: flex;
  align-items: center;
  position: relative;
}
.dashBox img {
  width: 19px;
  height: 19px;
  color: #ffffff;
}
.dashBox p {
  padding: 0 0.4rem;
  font-size: 1.1rem;
}
.profileBtn {
  border-radius: 50%;
  padding: 0.4rem 0.3rem;
  border: none;
  background-color: #512da8;
  color: white;
}
.dashBox::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid white;
  bottom: -1.1rem;
}
