.loginSec {
  max-width: 27rem;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 3rem;
  color: #ffffff;
}

.loginTitleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitleBox img {
  width: 50px;
  filter: brightness(0) invert(1);
}
.loginTitleBox h1 {
  padding-top: 0.3rem;
  font-size: 1.6rem;
}

.loginSocialBox {
  text-align: center;
}

.loginSocialBox img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.8rem 0.5rem;
}
.loginSocialBox p {
  font-size: 0.8rem;
  color: #575f66;
}

.loginInputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}

.loginInputBox a {
  margin-top: 0.8rem;
  color: #fafafa;
  font-size: 0.8rem;
}
.loginInputBox a:hover {
  transition: 0.3s color;
  color: #fa6782;
}

.loginInputBox input {
  background: #1d1d26;
  border: 2px solid #575f66;
  padding: 0.7rem 0.5rem;
  border-radius: 7px;
  margin: 0.5rem 0;
  width: 100%;
  outline: none;
  color: #ffffff;
}
.loginInputBox input:hover,
.loginInputBox input:focus {
  border: 2px solid #fa6782;
}

.loginInputBox button {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 5px;
  padding: 0.7rem 0;
  background: #f74e6d;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.loginInputBox button:hover {
  transition: 0.3s background;
  background: rgb(226, 41, 75);
}

.falseLogin {
  color: rgb(253, 57, 57);
  font-size: 0.7rem;
}
