.main {
  color: #ffffff;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}
.main h2 {
  padding: 2rem 0;
  font-size: 1.7rem;
}
.addSubBtn,
.addMainBtn {
  padding: 0.7rem 0.9rem;
  background-color: #181820;
  border: 3px solid #272732;
  color: #ffffff;
  border-radius: 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.addMainBtn {
  width: 48%;
}
.addSubBtn:hover,
.addMainBtn:hover {
  background-color: #272732;
  transition: 0.6s;
}
.main ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.noCollectionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

.noCollectionTitle {
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
}
