.contentSection {
  max-width: 55rem;
  margin: 0 auto;
  padding: 4rem;
}
.contentTitleBox {
  position: relative;
  display: flex;
  align-items: center;
}
.contentTitleBox a {
  font-size: 1.8rem;
  background: #272732;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  margin-right: 1.5rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  opacity: 0.6;
}
.contentTitleBox a:hover {
  opacity: 1;
}
.contentTitleBox h2 {
  font-size: 1.8rem;
}
.contentSettingBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.6;
  cursor: pointer;
  margin-left: auto;
  padding: 0.2rem 0;
}
.contentSettingBtn:hover {
  opacity: 1;
}
.settingBox {
  position: absolute;
  bottom: -5rem;
  right: 0;
  flex-direction: column;
  display: none;
}
.settingBox button {
  padding: 0.8rem 1.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  background: #272732;
  border: none;
  opacity: 0.5;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: opacity 0.4s;
}
.settingBox button:hover {
  opacity: 1;
}
.settingBox button:first-child {
  border-bottom: 1px solid rgb(80, 80, 80);
  text-align: left;
}
.activeS {
  display: flex !important;
}
.contentTodoBox {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}
.contentTodoBox form,
.contentTodoList {
  border-radius: 0.7rem;
  display: flex;
  transition: border 0.3s;
  padding: 0.7rem;
}
.contentTodoBox form{
  background: none;
  border: 2px solid #262632;
  transition: border 0.3s;

}
.contentTodoBox form button {
  border: none;
  width: 1.5rem;
  background: #ae68e6;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: black;
  cursor: pointer;
}

.contentTodoBox form:hover {
  border: 2px solid rgb(73, 73, 92);
}
.contentTodoBox input {
  font-size: 1.1rem;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 0.6rem;
}
.contentTodoBox h3{
  padding-bottom:1rem ;
}

.contentTodoList {
  background: #262632;
  border: none;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  padding
}
.contentTodoList p {
  padding-left: 0.5rem;
}

.contentTaskBtn {
  border: 2px solid #ae68e6;
  background: none;
  width: 1.5rem;
  border-radius: 0.5rem;
  margin-left:2px;
  cursor:pointer;
}
